STAGE=dev | prod | test
NODE_ENV=dev | prod | test
STORAGE_PROVIDER=cloudinary | aws

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=super_secret_password
DB_NAME=portfolio_db

# Cloudinary
CLOUDINARY_CLOUD_NAME=name
CLOUDINARY_API_KEY=000000000000
CLOUDINARY_API_SECRET=lorem-ipsum

# Seed
ADMIN_EMAIL=admin@miporfolio.com
ADMIN_PASSWORD=MiSuperContraseñaSegura2026!

JWT_SECRET=MiSuperSecretoDelPortfolio2026!
